@import url('../styles/variables.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  background: #0D1A2B;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  scrollbar-width: thin;
}

section {
  padding: 4rem 1.2rem 1rem 1.2rem;
}


#contact {
  scroll-margin-top: -350px;
}


.container {
  max-width: 1250px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Sora', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}