/* CARDS */
.cards {
  margin-top: 25px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: #020617a7;
  padding: 25px;

  border-radius: 12px;
  border: 1px solid #1e293b;

  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #6366f1;
}


/* MOBILE */